@import url('./fonts.css');
@import url('./output.css');
@import url('./bg_anime_boxes.css');
@import url('./scrollbar.css');
@import url('./tooltip.css');
@import url('./../assets/fontawesome/css/all.css');
@import url('./../assets/fontawesome/css/all.min.css');


:root {
    --primary: #A23C43;
    --dark-primary: #85292f;
    --black: #222222;
    --light: #fdfdfdda;
    --orange:#eb8d21c5;
    --secondry: #40e2c4da;
   }
::selection{
    color: var(--light);
    background: var(--primary);
}



*{padding: 0;margin: 0;}

     
body{
    overflow-x: hidden;background: #ffdd9e71;
}

/* main bg  */
.bg{
    background: #8a45c4;
    background-image: url('./../assets/images/we-dev-backgroud-img.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
.menu-icon:hover .fa-burger,
.menu-icon:hover .fa-xmark{
transform: scale(1.2);
transition: transform 0.5s linear;
}
/* sidebar animtion  */
header {
    transition: position 2s linear;
}
 .transition {
    transition: all 1s linear;
 }

 .pr--text{
    color: var(--dark-primary);
 }
 .underline{
    text-decoration: underline;
 }
 .pr--bg{
    background: linear-gradient(var(--dark-primary), var(--primary));
 }
 section .container div .p,
 section .container div p{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
 }

 section .link-btn a {
    color: var(--light);
 }

 .flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
 }








 label {
   display: block;
   margin-bottom: 15px;
   color: var(--dark-primary);
   font-weight: bold;
 }

 input[type="email"],
 textarea {
   font-family: "Roboto", sans-serif;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 100%;
   padding: 10px;
   margin-top: 5px;
   border: 1px solid var(--dark-primary);
   border-radius: 5px;
   background-color: var(--light);
   color: var(--black);
   font-size: 16px;
 }

 textarea {
   height: 100px;
   resize: vertical;
   max-height: 150px;
 }

 button[type="submit"] {
   background-color: var(--dark-primary);
   color: #fff;
   border: none;
   padding: 10px 15px;
   font-size: 16px;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
   margin-top: 10px;
 }
