.tooltip {
    /* triangle dimension */
    /* --b: 1em; base */
    --h: 1em; /* height */
  
    --p: 50%; /* triangle position (0%:left 100%:right) */
    --r: 5px; /* the radius */
    --c: #85292f;
  
    position: absolute;
    /* transform: translateY(-45px); */
    transform: translate(-20px, -58px);
    border-radius: var(--r);
    /* clip-path: polygon(0 100%,0 0,100% 0,100% 100%,
      min(100%,var(--p) + var(--b)/2) 100%,
      var(--p) calc(100% + var(--h)),
      max(0%  ,var(--p) - var(--b)/2) 100%); */
    background: var(--c);
    border-image: conic-gradient(var(--c) 0 0) fill 0/
      var(--r) calc(100% - var(--p) - var(--b)/2) 0 calc(var(--p) - var(--b)/2)/
      0 0 var(--h) 0;
  }
  

  .tooltip {
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    padding: 4px 6px;
    max-width: 25ch;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }